// ######################
// widgetTitle Settings
// ######################

h1.widgetTitle-title {
  font-size: 4rem;
  margin-top: 0;
  line-height: 1;
  text-align: center;
}

h2.widgetTitle-subtitle {
  font-size: 2.5rem;
  margin-top: 0;
  line-height: 1;
  text-align: center;
}

#widgetTitle {
  padding-top: 50px;
  padding-bottom: 50px;
}


