// ######################
// widgetTitle Settings
// ######################

h1.widgetTitle-title {
  font-size: 4rem;
  margin-top: 0;
  line-height: 1;
  text-align: center;
}

h2.widgetTitle-subtitle {
  font-size: 2.5rem;
  margin-top: 0;
  line-height: 1;
  text-align: center;
}

#widgetTitle {
  padding-top: 50px;
  padding-bottom: 50px;
}

// ######################
// customHeading Settings
// ######################

.customHeading {
  margin-top: 0;
  text-align: center;
}

h1.customHeading {
  font-size: 3rem;
}

h2.customHeading {
  font-size: 1.5rem;
}


// ######################
// fancypagination Settings
// ######################

.pagination li>a {
  margin: 0 4px; //space out page sections
  font-size: 1.5rem; //increase font size
  border: hidden !important; //force hidden border
}

.pagination__item--current {
  border: 1px solid #2962ff; //add border on current page number
}

a:hover {
    color: #003adc !important; //force color change during hover
}

ul.pagination {
  margin-top: 2rem;
}


// ######################
// Article tag margins in blog page header Settings
// ######################

.article-container.pt-3 > .article-tags {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}


// ######################
// Search filter in Library Settings
// ######################
.mb-4 {
  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
}


